node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.codacy
*.log
*.DS_Store
*.swp
*.tmp
*.bak
*.un~
*.swo
*.swn
*.swx
*.swp
*.swp.swp
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

ios

android/app/build/outputs

# macOS
.DS_Store


# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*